<div class="c-form-errors__container">
  <div class="c-form-errors__form-container">
    <h4>Error sending the message. Please try again.</h4>
    <%= render 'shared/contact-form' %>
  </div>
<div>

 