<footer>
  <div class="footer__container">
    <nav class="footer__nav">
      <ul class="footer__nav--list">
        <li>HOME</li>
        <li>ABOUT</li>
        <li>PORTFOLIO</li>
        <li>CONTACT</li>
      </ul>
    </nav>
  </div>
</footer>