<div class="c-user-comments">
  <h2 class="c-article__header">Post a comment!</h2>
  <div class="c-header-divider"></div>
  <% if logged_in? %>
    <div class="c-user-comments__info">
      <h3 class="c-user-comments__login-message">Welcome, <%= user["info"]["name"] %> </h3>
    </div>
    <%= render partial: 'comments/form' %>    
  <% else %>
    <div class="c-user-comments__info">
      <h3 class="c-user-comments__login-message">Please login to comment.</h3>
    </div>
  <% end %>
  <h4  class="c-user-comments__counter"><%= pluralize(@article.comments.count, 'comment') %></h4 >
  <%= render partial: 'comments/comment', collection: @article.comments %>
</div>