@media screen and (min-width: 960px) {
  .o-articles__container {
    padding-bottom: 20px;
  }

  .c-main__nav {
    width: 650px;

    li {
      margin: 0 25px;
      font-size: 1.4em;
    }
  }

  .c-welcome__img {
    padding-bottom: 35px;
  }

  .c-footer__nav--list li {
    margin: 0 25px;
    font-size: 1.4em;
  }
}