<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New comments have been posted on article <%= link_to @article.title, article_url(@article) %>.</h1>
  </body>
</html>