<div id="disqus_thread" class="c-comments__container"></div>

<script>
  var disqus_config = function () {
    this.shortname = "pauls-web-dev-blog";
    this.page.identifier = "article-<%= @article.id %>";
    this.page.title = "<%= @article.title %>";
    this.page.url = "<%= article_url(@article) %>";
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://pauls-web-dev-blog.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<script id="dsq-count-scr" src="//pauls-web-dev-blog.disqus.com/count.js" async></script>