<li><%= link_to "home", root_path %></li>
<li><%= link_to "about", static_pages_about_path %></li>
<li><%= link_to "portfolio", static_pages_portfolio_path %></li>
<li><%= link_to "contact", static_pages_contact_path %></li>