<div class="c-header-divider"></div>
<div class="c-user-comments">
  <h3 class="c-user-comments__header">Post a comment!</h3>
  <div class="c-user-comments__info">
    <h4  class="c-user-comments__counter"><%= pluralize(@article.comments.count, 'comment') %></h4 >
    <%= button_tag "Login", type: "button", class: "c-user-comments__login-btn" %>
  </div>
  <%= render partial: 'shared/comment-form' %>
  <h3 class="c-user-comments__comments-header">Latest Comments</h3>
  <%= render partial: 'shared/comment', collection: @article.comments %>
</div>