.o-articles__container {
  h3 {
    color: #252525;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 5px;
  }

  p {
    color: #252525;
    font-size: 1.1em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
  }
}