.o-article {
  &__container {
    min-width: 300px;
    padding: 0 5%;
    margin: 0 auto 35px;
  }
}

@media only screen and (min-width: 500px) {
  .o-article {
    &__container {
      width: 480px;
    }
  }
}

@media screen and (min-width: 768px) {
  .o-article {
    &__container {
      width: 668px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .o-article {
    &__container {
      width: 750px;
      padding: 0 30px;
    }
  }
}

// - Naming files so that they do not contain BEM nomenclature 
// - Each file should only contain 1 Block class
// - Each file should contain it's own media queries
// - Block names should be intention revealing 

// BEM = block__element--modifier
// Each file name should match the `block` name
// In this file the block name is `article`
// Does the block name want to be article or article-container?
// Is container an element?

// .o-article-container {
//   min-width: 300px;
//   padding: 0 5%;
//   margin: 0 auto 35px;
// }

// .o-article {
//   &__container {
//     min-width: 300px;
//     padding: 0 5%;
//     margin: 0 auto 35px;
//   }
// }

// .o-container {
//   min-width: 300px;
//   padding: 0 5%;
//   margin: 0 auto 35px;
// }