.o-featured__container {
  max-width: 1120px;
  padding-bottom: 25px;
  margin: 0 auto;

  h2 {
    padding-top: 20px;
    font-weight: 300;
  }
}

.o-articles__container--featured {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  margin: 0 auto;

  h3 {
    padding: 0 25px;
    color: #252525;
    text-align: center;
    font-size: 1.6em;
    font-weight: 400;
    padding-top: 5px;
  }

  p {
    color: #252525;
    font-size: 1.1em;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
  }
}

