.o-articles__container {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 3rem;
  margin: 0 auto;
}

/*-------------------------------------
Media Queries
-------------------------------------*/
@media screen and (min-width: 768px) {
  .o-articles__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .o-articles__container {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .o-articles__container {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 15px;
  }
}

