.c-footer__info, .c-copyright__info {
  text-align: center;
  color: #939598;
  font-weight: 300;
  font-size: 1.1em;
}

.c-copyright__info {
  font-size: 1em;
}

/*-------------------------------------
Media Queries
-------------------------------------*/
@media screen and (min-width: 773px) {
  .c-about__info {
    width: 30%;
    float: left;
  }
}