/*-------------------------------------
Main Styles 
-------------------------------------*/
.c-article__container {
  min-width: 300px;
  padding: 0 5%;
  margin: 0 auto 35px;
}

.c-article__header {
  font-size: 2em;
  margin: 20px 0 0;

  &--divider {
    height: 1px;
    background-color: #252525;
    margin: 0 auto 10px;
  }
}

.c-author__title {
  font-size: 1.2em;
}

.c-published__text {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 25px;
}

.c-article__text p {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 25px;
}

.c-catagory__title {
  font-size: 1.1em;
  margin-top: 20px;
}

/*-------------------------------------
Image Styles
-------------------------------------*/
.c-article__image {
  width: 100%;
  height: auto;
  margin: 45px auto 35px;
  border-radius: 5px;
}

/*-------------------------------------
Button Styles
-------------------------------------*/
.c-catagory__btn {
  height: 25px;
  padding: 0 15px;
  background-color: rgb(212, 66, 55);
  color: #f2f2f2;
  border: 0.5px solid #252525;
  border-radius: 5px;
  font-weight: 500;
  margin: 10px 20px 0 0;
  outline: none;

  &:hover {
    background-color: rgb(199, 61, 52);
    cursor: pointer;
  }
}

/*-------------------------------------
Media Queries
-------------------------------------*/
@media only screen and (min-width: 500px) {
  .c-article__container {
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .c-article__container {
    width: 668px;
  }
}

@media only screen and (min-width: 1020px) {
  .c-article__container {
    width: 750px;
    padding: 0 30px;
  }
}