.c-footer {
  background-color: #252525;
  width: 100%;
  color: #f2f2f2;
  display: grid;

  h3 {
    font-size: 1.4em;
    text-align: center;
    margin: 35px 0 5px;
    font-weight: 300;
  }
}

.c-footer__container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding-bottom: 20px;
}

/*-------------------------------------
Footer Navigation
-------------------------------------*/
.c-footer__nav--list {
  text-align: center;
  padding: 20px 0 5px 0;

  li {
    display: inline;
    margin: 0 5px;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  li a {
    color: #fff;
    text-decoration: none;
  }

  li a:hover {
    color: #939598;
  }
}

/*-------------------------------------
Social Media
-------------------------------------*/
.c-social__brands {
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

.c-social__icon {
  width: 25px;
  height: auto;
  margin: 0 15px;
}

.c-twitter__brand:hover, 
.c-facebook__brand:hover,
.c-pinterest__brand:hover,
.c-linkedin__brand:hover {
  opacity: 0.7;
}

/*-------------------------------------
Website Links
-------------------------------------*/
.c-external__links {
  text-align: center;
  font-weight: 300;

  li {
    font-size: 1.1em;
    list-style-type: none;
    font-weight: 300;
  }

  li a {
    color: #939598;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*-------------------------------------
About Information
-------------------------------------*/
.c-footer__info, .c-copyright__info {
  text-align: center;
  color: #939598;
  font-weight: 300;
  font-size: 1.1em;
}

.c-copyright__info {
  font-size: 1em;
}



/*-------------------------------------
Media Queries
-------------------------------------*/
@media screen and (min-width: 773px) {
  .c-footer__nav--list li {
    font-size: 1.3em;
    margin: 0 15px;
  }

  .c-social__links {
    width: 30%;
    margin-right: 5%;
    float: left;
  }

  .c-external__links {
    width: 30%;
    margin-right: 5%;
    float: left;
  } 

  .c-about__info {
    width: 30%;
    float: left;
  }
}

@media screen and (min-width: 960px) {
  .c-footer__nav--list li {
    margin: 0 25px;
    font-size: 1.4em;
  }
}