main {
  width: 100%;
  background-color: #f6f6f7;
}

/*-------------------------------------
Welcome Section 
-------------------------------------*/
.c-section__welcome {
  width: 100%;
}

.c-welcome__text {
  max-width: 100%;
  margin: 0 5%;
  padding-top: 25px;
  text-align: left;
  font-weight: 300;
  font-size: 1.1em;
}

.c-welcome__img {
  max-width: 90%;
  margin: 0 5%;
  padding-top: 25px;
}

/*-------------------------------------
Featured Section 
-------------------------------------*/
.c-section__featured {
  max-width: 100%;
  background-color: #252525;
  color: #f2f2f2;
  clear: both;
}

.c-header__divider--featured {
  background-color: #f2f2f2;
  width: 90%;
  height: 1px;
  margin: 5px auto 20px;
}

.c-card__featured {
  margin: 25px auto 25px;
  border-radius: 15px;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.c-card__text--featured {
  border: 0.5px solid #c5c5c5;
  padding: 0 15px 10px 15px;
  border-radius: 10px;
  width: 75%;
  height: auto;
  margin: 0 auto;
  margin-top: -30px;
  position: relative; 
  background-color: #fff;
}

/*-------------------------------------
Latest Section 
-------------------------------------*/
.c-load__btn {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.3em;
  padding-bottom: 15px;

  a {
    color: #252525;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*-------------------------------------
Article Preview Card
-------------------------------------*/
.c-card {
  margin: 25px auto 25px;
  border-radius: 15px;
  width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &__image {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    }

  &__text {
    border: 0.5px solid #c5c5c5;
    padding: 0 15px 10px 15px;
    border-radius: 10px;
    width: 75%;
    height: 140px;
    margin: 0 auto;
    margin-top: -30px;
    position: relative; 
    background-color: #fff;
  }
}

.c-article--path {
  text-decoration: none;
}

/*-------------------------------------
Media Query - Tablet
-------------------------------------*/

@media screen and (min-width: 768px) {
  .c-welcome__text {
    width: 90%;
    margin: 0 5%;
  }
  
  .c-welcome__img {
    width: 40%;
    margin: 0 5%;
    float: right;
    padding-bottom: 15px;
  }

  .c-main__headers--clear {
    clear: both;
  }
}

/*-------------------------------------
Media Queries - Desktop
-------------------------------------*/
@media screen and (min-width: 960px) {
  .c-welcome__img {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1112px) {
  .c-welcome__img {
    padding-bottom: 50px;
  }
}

