.c-social__brands {
  width: 100%;
  text-align: center;
  padding-top: 8px;
}

.c-social__icon {
  width: 25px;
  height: auto;
  margin: 0 15px;
}

.c-twitter__brand:hover, 
.c-facebook__brand:hover,
.c-pinterest__brand:hover,
.c-linkedin__brand:hover {
  opacity: 0.7;
}