.c-section__welcome {
  width: 100%;
}

.c-welcome__text {
  max-width: 100%;
  margin: 0 5%;
  padding-top: 25px;
  text-align: left;
  font-weight: 300;
  font-size: 1.1em;
}

.c-welcome__img {
  max-width: 90%;
  margin: 0 5%;
  padding-top: 25px;
}

/*-------------------------------------
Media Queries
-------------------------------------*/

@media screen and (min-width: 768px) {
  .c-welcome__text {
    width: 90%;
    margin: 0 5%;
  }
  
  .c-welcome__img {
    width: 40%;
    margin: 0 5%;
    float: right;
    padding-bottom: 15px;
  }

  .c-main__headers--clear {
    clear: both;
  }
}

/*-------------------------------------
Media Queries - Desktop
-------------------------------------*/
@media screen and (min-width: 960px) {
  .c-welcome__img {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1112px) {
  .c-welcome__img {
    padding-bottom: 50px;
  }
}

