/*-------------------------------------
Header Styles
-------------------------------------*/
header {
  min-height: 450px;
  width: 100%;
  position: relative;
  background: #000 image-url('header_hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content__wrap {
  padding: 5px;
}

/*-------------------------------------
Logo Styling
-------------------------------------*/
header .brand__logo {
  color: #f2f2f2;
  margin: 10px 0 0 5px;
  float: left;
  font-family: 'Ubuntu';
  line-height: 1.2;
  text-align: center;
}

.brand__logo h1 {
  font-size: 2rem;
  font-weight: 600;
}

.brand__logo p {
  font-size: 1.3rem;
  font-weight: 300;
}

/*-------------------------------------
Subscribe Form
-------------------------------------*/
.email__form {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  display: block;
  text-align: center;
  
  &-input {
    display: flex;
    justify-content: center;
  }
}

.subscribe__input {
  width: 200px;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  width: 200px;
  height: 25px;
  border: 0;
  box-sizing: border-box;
  display: block;
}

.subscribe__btn {
  background-color: #dadada;
  font-family: "Roboto";
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0 5px 5px 0;
  height: 2.27em;
  padding: 6px 15px 5px 15px;
  width: 100px;
  background: #F4B62C;
  color: white;
  border: 0;
  display: block;
}

/*-------------------------------------
Hamburger Navigation
-------------------------------------*/
.header__nav {
  float: right;
  margin: 10px 5px 0 0;
}

.nav__hamburger {
  font-size: 2.8em;
  color: #f2f2f2;
  float: right;
  margin-right: 5px;
}

.nav__hamburger:hover {
  cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f2f2f2;
  display: block;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 300;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*-------------------------------------
Traditional Navigation 
-------------------------------------*/
.main__nav {
  display: none;
  width: 500px;
  margin: 0 auto;
  padding-top: 420px;
}

.main__nav ul {
  display: none;
  text-align: center;
}

.main__nav li {
display: inline-block;
font-family: Nunito, sans-serif;
font-weight: 300;
text-transform: uppercase;
font-size: 1.3em;
margin: 0 15px;
}

.main__nav a {
color: #f2f2f2;
text-decoration: none;
}

.main__nav a:hover {
  color: #939598;
}

/*-------------------------------------
Media Queries
-------------------------------------*/
@media screen and (min-width: 768px) {
  header .brand__logo {
  margin: 10px 0 0 25px;
  }

  .nav__hamburger {
  display: none;
  }

  .email__form {
  width: 275px;
  top: 0;
  right: 0;
  padding: 35px 35px 0 0;
  }

  .main__nav{
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-top: 420px;
  }

  .main__nav ul {
  display: block;
  }
}

@media screen and (min-width: 960px) {
  .main__nav li {
    margin: 0 25px;
    font-size: 1.4em;
  }

  .main__nav {
    width: 650px;
  }
}

