/*-------------------------------------
Main Styles 
-------------------------------------*/
.article__container {
  min-width: 300px;
  padding: 0 5%;
  margin: 0 auto 35px;
}

.main__headers--article {
  font-size: 2em;
  margin: 20px 0 0;
}

.header__divider--article {
  height: 1px;
  background-color: #252525;
  margin: 0 auto 10px;
}

.article__text p {
  font-size: 1.1em;
  font-weight: 300;
}
.article__container p {
  margin-bottom: 25px;
}

.author__title {
  font-size: 1.2em;
}

.published__text {
  font-size: 1.1em;
  font-weight: 300;
}

.catagory__title {
  font-size: 1.1em;
  margin-top: 20px;
}

/*-------------------------------------
Image Styles
-------------------------------------*/
.article__image {
  width: 100%;
  height: auto;
  margin: 15px auto 35px;
  border-radius: 5px;
}

/*-------------------------------------
Button Styles
-------------------------------------*/
.catagory__btn {
  height: 25px;
  padding: 0 15px;
  background-color: #ababab;
  color: #252525;
  border-radius: 5px;
  font-weight: 600;
  margin: 10px 20px 0 0;
  outline: none;
}

/*-------------------------------------
Media Queries
-------------------------------------*/
@media only screen and (min-width: 500px) {
  .article__container {
    width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .article__container {
    width: 668px;
  }
}

@media only screen and (min-width: 1020px) {
  .article__container {
    width: 750px;
    padding: 0 30px;
  }
}
